body {
    background-color: #FFE2C4;
    margin: 10px; /* Korrigierter margin Wert */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-family: 'Monaco';
    color: white; /* Schriftfarbe */
    font-size: 25px; /* Schriftgröße */
    font-weight: normal; /* Schriftstärke */
    text-align: center; /* Textausrichtung */
    letter-spacing: -1px;
}

header {
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    justify-content: space-between; /* Abstand zwischen den Elementen */
    margin-bottom: 20px;
    width: 100%;
}

.back-button {
    text-decoration: none;
    color: white;
    background-color: #658047;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Neuer CSS-Code für zentrierte Überschrift */
header h1 {
    flex-grow: 1; /* Ermöglicht der Überschrift, den verfügbaren Platz zu füllen */
    text-align: center; /* Zentriert den Text */
    color: #4293AD; /* Schriftfarbe */
    text-shadow: 0px 2px 1px #4f4f4f; /* Schattenwurf */
}

.large-image img {
    max-width: 90%;
    height: auto;
}

.image-container {
    display: flex; /* Verwende Flexbox für das Layout */
    justify-content: center; /* Zentriere die Container */
    align-items: flex-start; /* Setze die Vertikale Ausrichtung */
    gap: 20px; /* Abstand zwischen dem großen Bild und den Thumbnails */
}

.thumbnail-gallery {
    display: flex; /* Flexbox für die Thumbnails */
    flex-direction: column; /* Stapele die Thumbnails untereinander */
    gap: 10px; /* Abstand zwischen den Thumbnails */
}

.thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.project-description {
    margin-top: 20px;
}

/* Media Query für mobile Geräte */
@media (max-width: 768px) {
    .image-container {
        flex-direction: column; /* Elemente untereinander anordnen */
        align-items: center; /* Zentrieren der Elemente */
    }

    .thumbnail-gallery {
        flex-direction: row; /* Stapele die Thumbnails wieder nebeneinander */
        justify-content: center; /* Zentriere die Thumbnails */
    }
}
