/* Für größere Bildschirme wie Laptops */
body {
    background-color: #FFE2C4;
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-family: 'Geneva';
    color: white;
    font-size: 25px;
    text-align: center;
    letter-spacing: -1px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.back-button {
    position: absolute;
    left: 10px;
    text-decoration: none;
    color: white;
    background-color: #658047;
    padding: 10px 15px;
    border-radius: 5px;
}

header h1 {
    color: #4293AD;
    text-shadow: 0px 2px 1px #4f4f4f;
    margin: 0;
}

.gallery-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 80vh; /* Höhe des Containers */
}

.thumbnail-menu {
    align-self: center;
    width: 15%; /* 15% der Breite für das vertikale Scrollmenü */
    height: 100%;
    overflow-y: auto; /* Vertikales Scrollen aktivieren */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc; /* Optional: füge einen Rahmen hinzu */
    border-radius: 5px; /* Optional: abgerundete Ecken */
    background-color: #e4bb90;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail-menu img {
    width: 100%; /* Bilder im Menü klein anzeigen */
    margin-bottom: 10px;
    cursor: pointer;
}

.image-display {
    width: 85%; /* 85% der Breite für das große Bild */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-display img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Bilder in ihrer nativen Skalierung anzeigen */
    border-style: solid;
    border-width: 10px;
}

/* Für WebKit-basierte Browser (Chrome, Safari) */
.thumbnail-menu::-webkit-scrollbar {
    display: none; /* Scrollbalken ausblenden */
}

/* Für Firefox */
.thumbnail-menu {
    scrollbar-width: none; /* Scrollbalken ausblenden */
}

/* Optional: Damit das Layout beim Ausblenden des Scrollbalkens nicht verändert wird */
.thumbnail-menu {
    -ms-overflow-style: none; /* Für Internet Explorer und Edge */
}


/* Für Mobilgeräte */
@media (max-width: 768px) {
    .gallery-container {
        flex-direction: column;
    }
    
    .thumbnail-menu {
        align-self: center;
        width: 90%; /* 15% der Breite für das vertikale Scrollmenü */
        height: 10%;
        overflow-x: auto; /* Vertikales Scrollen aktivieren */
        overflow-y: hidden;
        display: flex;
        flex-direction:row;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc; /* Optional: füge einen Rahmen hinzu */
        border-radius: 5px; /* Optional: abgerundete Ecken */
        background-color: #e4bb90;
    }
    
    .thumbnail:hover {
        transform: scale(1.05);
    }
    
    .thumbnail-menu img {
        height: 100%; /* Bilder im Menü klein anzeigen */
        margin-right: 10px;
        cursor: pointer;
    }
    
    .image-display {
        margin-top: 10px;
        width: 90%; /* 85% der Breite für das große Bild */
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .image-display img {
        align-self: center;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Bilder in ihrer nativen Skalierung anzeigen */
        border-style: solid;
        border-width: 10px;
    }
}