body {
    background-color: #e8d6d6;
    margin: 10;
    height: 100vh;
    display: top;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white; /* Schriftfarbe */
    font-size: 25px; /* Schriftgröße */
    font-weight: normal; /* Schriftstärke */
    text-align: center; /* Textausrichtung */
}


.gallery {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 40px;
}

.image-container {
    border: 4px solid #fff;
    margin: 10px;
    width: 300px; /* Breite der Vierecke */
    height: 200px; /* Höhe der Vierecke */
    overflow: hidden;
}

.image-container img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Bild skalieren, um den Container zu füllen */
}
