body {
    background-color: #e8d6d6;
    margin: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: Courier 'Courier New', Courier, monospace;
    color: white; /* Schriftfarbe */
    font-size: 25px; /* Schriftgröße */
    font-weight: normal; /* Schriftstärke */
    text-align: center; /* Textausrichtung */
}
